*{
    margin: 0;
    padding: 0;
}
#titulo{
    
}
body{
    background-color: #C6E1F5;
}
#fondo{
    background-image: url(../img/fondoserie.jpg);
    background-size: 1400px;
    height: 600px;
    background-repeat: no-repeat;
}
#ti{
    margin-left: 40%;
    font-size: 150px;
 font-family: fantasy;
}
#ti2{
    margin-left: 48%;
    font-family: monospace;
    margin-top: 8%;
    font-size: 40px;
    
}
#personajesf{
    margin: 40px;
}
#historia{
    margin: 30px;
}
#texto{
    margin-top: 3.5%;
    font-family: sans-serif;
}
#ti3{
    margin-left: 45%;
    font-size: 40px;
    font-family: monospace;
}
#ted{
    margin-left: 5%;
    display: inline-block;
}
#robin{
    margin-left: 21.5%;
    margin-top: -1.5%;
}
#barney{
    margin-left: 42.5%;
    margin-top: -1.3%;
}
#lily{
    margin-left: 61%;
    margin-top: -1.3%;
}
#marsahll{
    margin-left: 80.5%;
    margin-top: -1.3%;
}
#ti4{
    margin-top: 5%;
    margin-left: 40%;
    font-family: monospace;
    font-size: 30px;
}
#texto2{
    margin: 30px;
    font-family: sans-serif;
}
footer{
    background-image: url(../img/fondoserie3.jpg);
    height: 250px;
    color: white;
    font-family: monospace;
    font-size: 20px;
}
#fo{
    margin-left: 35%;
    margin-top: 8.5%;
    display: inline-block;
}
